%button{
  text-decoration: none;
  color:lightgreen;
  display: inline-block;
  padding: 3px 3px 4px;
  margin-top: 2rem;
  border-bottom: 1px solid lightgreen;
}

.section-1{
  background-color: #f7f7f7f7;
  margin-top: -10%;
  padding-bottom: 30rem;
  .skewed-title{
    margin-top: 20rem;
  }
  .container-flex > div{
    width: 50%;
    padding: 0 2rem;

    .btn-more:visited{
      @extend %button;
    }
    .btn-more:link{
      @extend %button;
    }
    .btn-more{
      transition: all 0.2s;
    }
    .btn-more:hover{
      background-color: lightgreen;
      color: white;
      transform: translateY(5px);
      box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.5);
    }
    .btn-more:active{
      transform: translateY(-2px);
    }

  }
  .container-picture{
    position: relative;
    top:20%;

    .image-collage{
      width: 55%;
      position: absolute;
      border-radius: 3px;
      box-shadow: 0.5rem 1 rem 1 rem rgba(0, 0, 0, 0.5);
      z-index: 10;
      cursor: pointer;
      outline-offset: 2rem;
      transition: all 0.2s;

      &:first-child{
        left: 0;
        top: -2rem;
      }
      &:nth-child(2){
        right: 0;
        top:2rem;
      }
      &:last-child{
        left:20%;
        top:6rem;
      }
      &:hover{
        z-index: 20;
        transform: scale(1.2);
        outline: 2rem solid #55c57a;
      }
    }
    &:hover .image-collage:not(:hover){
      transform: scale(0.95);
    }
  }
}